h1 {
  text-align: center;
  color: black;
}
body {
  background: #43c6ac;
  background: -webkit-linear-gradient(to right, #f8ffae, #43c6ac);
  background: linear-gradient(to right, #f8ffae, #43c6ac);

  background-size: contain;
  width: 100%;
  display: flex;
  flex-direction: column;
}
